@page "/Notices"
@page "/Notices/Index"

<h3>Index</h3>

<div class="row">
    <div class="col-md-12">
        <a href="/Notices/Create" class="btn btn-primary">Create</a>
        <AuthorizeView>
            @*//인증 및 권한 부여 인증된 계정 활성화 메뉴 ? 관련*@
            <Authorized>
            </Authorized>
            <NotAuthorized>
                <a href="/Notices/Manage" class="btn btn-primary">Manage</a>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Roles="Administrators, Managers">
            <a href="/Notices/Manage" class="btn btn-primary">Manage</a>

        </AuthorizeView>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (models == null)
        {
            <p><em>Loading...</em></p>
        <div>
            <p>
                <MatProgressBar Indeterminate="true"></MatProgressBar>  @*//프로세스 바*@
                <MatProgressBar Indeterminate="true"></MatProgressBar>
                <MatProgressBar Indeterminate="true"></MatProgressBar>
            </p>
        </div>

        }
        else
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Created</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in models)
                    {
                        <tr>
                            <td>@m.Id</td>
                            <td @onclick="@(() => NameClick(m.Id))">
                                @* 이름클릭 메소드 *@
                                <a href="/Notices/Details/@m.Id">
                                    @m.Name
                                </a>
                            </td>
                            <td>@m.Created?.ToShortTimeString()</td>
                            <td>
                                <a href="/Notices/Details/@m.Id" class="btn btn-light">Details</a>
                                <a href="/Notices/Edit/@m.Id" class="btn btn-light">Edit</a>
                                <a href="/Notices/Delete/@m.Id" class="btn btn-light">Delete</a>

                            </td>
                        </tr>
                    }

                </tbody>



            </table>


        }
    </div>
    <div class="col-md-12">
        @* 페이저 부분 *@
        <DulPager.DulPagerComponent Model="pager" PageIndexChanged="PageIndexChanged">

        </DulPager.DulPagerComponent>
    </div>

</div>